@model IEnumerable<Students.Models.Student>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        @Html.DisplayNameFor(student => student.Id)
        <th>
            @Html.DisplayNameFor(student => student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(student => student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(student => student.CreateDateTime)
        </th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
    }

</table>
